.adm-{
	&about__us__section{
		position: relative;
		padding: 0 0 80px;
		background-color: #000;
		.image{
			width: 57%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-position: center;
			background-size: cover;
		}
		.content{
			width: 100%;
			float: left;
			// background-color: #fff;
			position: relative;
			padding: 45px 0 115px 0;
			//padding: 45px 150px 115px 95px;
			z-index: 2;
			&::before{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: -95px;
				right: -100%;
				background-color: #fff;
				z-index: -1;
			}
			.adm-section__title{
				h4{
					margin-bottom: 24px;
				}
				h2{
					margin-bottom: 58px;
				}
			}
			.text{
				width: 100%;
				float: left;
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.adm-about__us__section{
		background-color: #fff;
		padding: 475px 0 11px;
		.image{
			width: auto;
			top: 25px;
			left: 35px;
			right: 35px;
			height: 450px;
		}
		.content{
			padding: 35px 0;
			&::before{
				background-color: transparent;
			}
			.adm-section__title {
				h4{
					margin-bottom: 12px;
				}
				h2{
					margin-bottom: 46px;
				}
			}
			.text{
				p{
					margin-bottom: 24px;
				}
			}
		}
	}
}
@include media-breakpoint-down(md) {
	.adm-about__us__section{
		padding: 325px 0 11px;
		.image{
			height: 300px;
		}
	}
}
@include media-breakpoint-down(sm) {
	.adm-about__us__section{
		padding: 290px 0 11px;
		.image{
			height: 265px;
		}
	}
}