.adm-{
	&advantage{
		&s__section{
			background-color: #0E1925;
			padding: 46px 0;
			.adm-section__title{
				margin-bottom: 38px;
				h4{
					margin-bottom: 24px;
				}
			}
		}
		&__block{
			width: 100%;
			float: left;
			margin: 0 0 30px;
			.image{
				width: 100%;
				height: 125px;
				background-size: cover;
				background-position: center;
				margin-bottom: 20px;
			}
			.content{
				width: 100%;
				float: left;
				padding-right: 5px;
				h3{
					min-height: 75px;
					color: $green;
					margin-bottom: 10px;
				}
				p{
					margin-bottom: 18px;
					color: #fff;
					letter-spacing: 0.15px;
				}
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.adm-advantage{
		&s__section{
			padding: 38px 0 16px;
			.adm-section__title {
				margin-bottom: 5px;
				h4{
					margin-bottom: 13px;
				}
			}
		}
		&__block{
			margin-bottom: 46px;
			.image{
				margin-bottom: 8px;
			}
			.content{
				h3{
					font-size: 26px;
					line-height: 33px;
					min-height: auto;
					margin-bottom: 20px;
				}
			}
		}
	}
}