.adm-{
	&footer{
		width: 100%;
		float: left;
		background-color: #000;
		color: #fff;
		padding: 107px 0 176px;
		&__contact{
			width: 100%;
			float: left;
			margin-bottom: 2px;
			// &.phone{
			// 	margin-bottom: 20px;
			// }
			h6{
				font-weight: 400;
				margin-bottom: 0;
				color: rgba(255, 255, 255, 0.5);
			}
			a,
			p{
				font-size: 13px;
				font-weight: 400;
				line-height: 20px;
				color: #fff;
				letter-spacing: 0.125px;
				text-decoration: none;
			}
			a:hover{
				color: $green;
			}
			&s{
				h2{
					color: $green;
				}
			}
		}
		&__title{
			width: 100%;
			float: left;
			margin-bottom: 50px;
		}
		&__logo{
			margin: 63px 0 0;
			display: block;
			opacity: 0.5;
		}
		&__copyrights{
			width: 100%;
			float: left;
			margin: 63px 0 0;
			h6{
				font-size: 13px;
				font-weight: 400;
				line-height: 20px;
				color: rgba(255, 255, 255, 0.5);
				letter-spacing: 0.125px;
			}
		}
		&__form{
			width: 100%;
			float: left;
			margin: 18px 0 0;
			.title{
				width: 100%;
				float: left;
				h3{
					color: rgba(255,255,255,0.5);
					margin-bottom: 20px;
				}
			}
			.form{
				width: 100%;
				float: left;
				form{
					width: 100%;
					float: left;

				}
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.adm-footer{
		padding: 58px 0;
		&__title{
			margin-bottom: 20px;
		}
		&__contact{
			&.phone{
				margin: 20px 0 0;
			}
		}
		&__form{
			margin: 60px 0 0;
		}
		&__logo{
			margin: 53px 0 0;
			img{
				width: 135px;
			} 
		}
		&__copyrights{
			margin: 16px 0 0;
		}
	}
}