.field__group{
	width: 100%;
	float: left;
	margin-bottom: 40px;
	position: relative;
}
.submit__group{
	width: 100%;
	float: left;
	position: relative;
	.ajax-loader{
		position: absolute;
		margin: 0;
		top: 15px;
		right: 20px;
	}
}
.form__field{
	width: 100%;
	float: left;
	padding: 0 0 6px 0;
	background-color: transparent;
	color: #fff;
	font-size: 13px;
	line-height: 20px;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	&:focus{
		outline: none;
		box-shadow: none;
	}
}
.form__submit{
	width: 100%;
	float: left;
	background-color: $green;
	border: none;
	color: #000;
	font-family: $secondary-font;
	font-size: 25px;
	padding: 9px 0;
	-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
	&:hover{
		background-color: #fff;
	}
}
textarea.form__field{
	height: 115px;
}
.wpcf7-form-control-wrap{
	width: 100%;
	float: left;
	&.recaptcha{
		margin: 20px 0 0;
	}
}
.wpcf7-not-valid-tip{
	position: absolute;
	top: 30px;
	left: 0;
	font-size: 12px;
}
.wpcf7 form .wpcf7-response-output{
	width: 100%;
	float: left;
	margin: 20px 0 0;
	border-width: 1px;
	padding: 15px 20px;
	font-weight: 300;
	font-size: 13px;
	text-align: center;
}
@include media-breakpoint-down(lg) {
	.field__group{
		margin-bottom: 36px;
	}
}