body{
	&.admin-bar{
		.adm-header{
			top: 32px;
			&.scroll__down{
				top: -100%;
			}
		}
	}
}
.adm-{
	&header{
		width: 100%;
		float: left;
		position: fixed;
		top: 0;
		left: 0;
		padding: 39px 0 27.5px;
		z-index: 100;
		-webkit-transition: all 0.5s ease;
				transition: all 0.5s ease;
		&.scroll__down{
			top: -100%;
		}
		&.dark{
			background-color: #0E1925;
		}
	}
	&logo{
		width: 127.5px;
		display: block;
		img{
			width: 100%;
			height: auto;
		}
	}
	&main__{
		&nav{
			width: 100%;
			float: left;
			ul{
				padding: 0;
				margin: 0;
				list-style: none;
				li{
					float: left;
					margin-right: 35px;
					a{
						display: block;
						font-size: 16px;
						font-weight: 500;
						line-height: 15.5px;
						text-decoration: none;
						padding: 8px 0;
						color: #fff;
						overflow: hidden;
						position: relative;
						-webkit-transition: all 0.2s ease;
								transition: all 0.2s ease;
						&::after{
							content: '';
							width: 100%;
							height: 2px;
							background-color: $green;
							display: block;
							position: absolute;
							bottom: 0;
							left: -100%;
							-webkit-transition: all 0.2s ease;
									transition: all 0.2s ease;
						}
						&.active,
						&:hover{
							color: $green;
							&::after{
								left: 0;
							}
						}

					}
					&:last-child{
						margin-right: 0;
					}
				}
			}
		}
	}
	&mobile{
		&__btn{
			width: 26px;
			height: 26px;
			position: relative;
			margin: 5px 0 0;
			&.show{
				span{
					&:nth-child(1){
						width: 32px;
						top: 12px;
						left: -3px;
						-webkit-transform: rotate(45deg);
								transform: rotate(45deg);
					}
					&:nth-child(2){
						width: 32px;
						top: 12px;
						left: -3px;
						-webkit-transform: rotate(-45deg);
								transform: rotate(-45deg);
					}
				}
			}
			span{
				width: 26px;
				height: 1.5px;
				background-color: $green;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				-webkit-transition: all 0.2s ease;
						transition: all 0.2s ease;
				&:nth-child(1){
					top: 8px;
				}
				&:nth-child(2){
					top: 15px;
				}
			}
		}
		&__menu{
			width: 100%;
			height: 100%;
			position: fixed;
			padding: 69px 35px 0;
			top: -100%;
			opacity: 0;
			visibility: hidden;
			left: 0;
			background-color: #0E1925;
			z-index: 99;
			-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
			&.show{
				top: 0;
				opacity: 1;
				visibility: visible;
			}
		}
		&__nav{
			width: 100%;
			float: left;
			padding: 40px 0 0;
			ul{
				padding: 0;
				margin: 0;
				list-style: none;
				li{
					width: 100%;
					float: left;
					margin: 0 0 15px 0;
					a{
						color: #fff;
						font-weight: 500;
						font-size: 16px;
						line-height: 15.5px;
						display: inline-block;
						text-decoration: none;
						padding: 0 0 5px 0;
						position: relative;
						overflow: hidden;
						&::after{
							content: '';
							width: 100%;
							height: 1px;
							background-color: $green;
							bottom: 0;
							left: -100%;
							position: absolute;
						}
						&.active,
						&:hover{
							color: $green;
							&::after{
								left: 0;
							}
						}
					}
				}
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.adm-{
		&header{
			height: 69px;
			padding: 17px 0 17px;
			&.dark{
				border-bottom: 1px solid $green;
			}
			&.show{
				top: 0;
			}
		}
		&logo{
			width: 107px;
		}
	}
}