.adm-{
	&hero__section{
		background-position: center;
		background-size: cover;
		.content{
			width: 100%;
			position: absolute;
			left: 0;
			top: 50%;
			-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
			p{
				margin-bottom: 38px;
			}
			.text{
				max-width: 430px;
			}
			&__wrapper{
				width: 100%;
				height: 100vh;
				min-height: 755px;
				position: relative;
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.adm-hero__section {
		.content{
			float: left;
			position: static;
		    -webkit-transform: translateY(0);
    				transform: translateY(0);
    		p{
    			margin-bottom: 30px;
    		}
			&__wrapper{
				min-height: auto;
				float: left;
				height: auto;
				padding: 114px 0 112px;
			}
		}
	}
}
@include media-breakpoint-down(sm) {
	.adm-hero__section .content{
		a.btn{
			width: 100%;
			text-align: center;
		}
	}
}