.adm-{
	&service{
		&s__{
			&section{
				background-color: #000;
				padding: 46px 0 140px;
				.adm-section__title h4{
					margin-bottom: 22px;
				}
			}
			&row{
				width: 100%;
				float: left;
				margin: 35px 0 0;
			}
		}
		&__block{
			width: 100%;
			min-height: 430px;
			float: left;
			border-left: 1px solid $green;
			padding: 0 35px 50px;
			color: #fff;
			.icon{
				width: 100%;
				padding: 0 0 0 5px;
				margin-bottom: 53px;
			}
			h3{
				margin-bottom: 15px;
			}
		}
	}
}
@include media-breakpoint-down(xl) {
	.adm-service__block{
		padding: 0 20px 20px 35px;
	}
}
@include media-breakpoint-down(lg) {
	.adm-service{
		&__block{
			min-height: auto;
			padding: 0 0 8px 0;
			border: none;
			border-bottom: 1px solid $green;
			margin-bottom: 32px;
			.icon{
				height: 93px;
				margin-bottom: 22px;
				img{
					height: 100%;
				}
			}
		}
		&s__{
			&section{
				padding: 36px 0 22px;
				.adm-section__title{
					h4{
						margin-bottom: 13px;
					}
				}
			}
			&row{
				margin: 6px 0 0;
			}
		}
	}
}