.adm-{
	&solution{
		&s__section{
			background-color: #000;
			padding: 0 0 68px;
			.image{
				width: 100%;
				height: 501px;
				background-position: center;
				background-size: cover;
				float: left;
			}
			.content{
				width: 100%;
				float: left;
				position: relative;
				padding: 58px 0 69px;
				margin: -195px 0 117px;
				&::before{
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: -100%;
					right: -93px;
					bottom: 0;
					background-color: $green;
					z-index: -1;
				}
			}
			.adm-section__title.dark h4{
				margin-bottom: 21px;
			}
		}
		&__block{
			width: 100%;
			float: left;
			color: #fff;
			position: relative;
			padding: 0 0 0 190px;
			margin: 0 0 65px 0;
			.icon{
				position: absolute;
				top: 10px;
				left: 27px;
				height: 110px;
				img{
					width: auto;
					height: 100%;
				}
			}
			.text{
				width: 100%;
				min-height: 141px;
				float: left;
				h3{
					font-weight: 500;
					color: $green;
					margin-bottom: 19px;
				}
				p{
					letter-spacing: 0.2px;
				}
			}
		}
		&__slide{
			width: 100%;
			float: left;
			.icon{
				width: 100%;
				height: 180px;
				float: left;
				margin-bottom: 29px;
				img{
					height: 100%;
					width: auto;
				}
			}
			.text{
				width: 100%;
				float: left;
				h2{
					color: $green;
					margin-bottom: 12px;
				}
			}
		}
		&s__slider{
			padding: 72.5px 0 37px;
			color: #fff;
			.swiper-pagination{
				.swiper-pagination-bullet{
					width: 11px;
					height: 11px;
					display: inline-block;
					border-radius: 50%;
					background-color: #787575;
					margin: 0 14px;
					opacity: 1;
					&-active{
						background-color: $green;
					}
				}
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.adm-solutions__section {
		padding: 0 0 72px;
		.image{
			height: 400px;
			background-position: 80% 50%;
		}
		.content{
			margin: 0;
			padding: 35px 0;
		}
		.adm-section__title.dark {
			h4{
				margin-bottom: 12px;
			}
			h2{
				margin-bottom: 7px;
			}
		}
	}
}
@include media-breakpoint-down(md) {
	.adm-solutions__section {
		.image{
			height: 330px;
		}
	}
}
@include media-breakpoint-down(sm) {
	.adm-solutions__section {
		.image{
			height: 258px;
		}
	}
}