.adm-{
	&testimonials__{
		&section{
			padding: 92px 0 218px;
			background-position: center;
			background-size: cover;
			.swiper-button-next,
			.swiper-button-prev{
				width: 66px;
				height: 66px;
				background-color: #000;
				margin: -43px 0 0;
				-webkit-transition: all 0.2s ease;
						transition: all 0.2s ease;
				&:hover{
					background-color: #fff;
				}
				&::after{
					content: '';
					width: 20px;
					height: 41px;
					background-position: center;
					background-size: cover;
					-webkit-transition: all 0.2s ease;
							transition: all 0.2s ease;
				}
			}
			.swiper-button{
				&-next{
					right: 12px;
					&::after{
						background-image: url('../images/icons/next.svg');
					}
					&.swiper-button-disabled{
						&::after{
							background-image: url('../images/icons/next-disabled.svg');
						}
					}
					&:hover{
						&::after{
							background-image: url('../images/icons/next-hover.svg');
						}
					}
				}
				&-prev{
					left: 12px;
					&::after{
						background-image: url('../images/icons/prev.svg');
					}
					&.swiper-button-disabled{
						&::after{
							background-image: url('../images/icons/prev-disabled.svg');
						}
					}
					&:hover{
						&::after{
							background-image: url('../images/icons/prev-hover.svg');
						}
					}
				}
			}
			.swiper-button-disabled{
				background-color: #9E9E9E;
				opacity: 1;
			}
		}
		&slider{
			max-width: 860px;
			margin: 0 auto;
			background-color: $green;
			.swiper-slide{
				// opacity: 0!important;
				.content{
					width: 100%;
					float: left;
					padding: 68px 95px 36px;
					h4{
						letter-spacing: -0.5px;
					}
					p{
						font-family: $secondary-font;
						font-weight: 700;
						font-size: 25px;
						line-height: 33px;
						margin-bottom: 36px;
					}
				}
				&-active{
					// opacity: 1!important;
				}
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.adm-testimonials__{
		&section{
			padding: 49px 0 165px;
			.swiper-button-prev,
			.swiper-button-next{
				width: 53px;
				height: 53px;
				top: auto;
				bottom: -28px;
				&::after{
					width: 18px;
					height: 35px;
				}
			}
			.swiper-button-prev{
				left: 66px;
			}
			.swiper-button-next{
				right: 66px;
			}
		}
		&slide{
			&r{
				margin: 0 -23px;
				.swiper-slide .content{
					padding: 27px 23px 44px;
					p{
						font-size: 13px;
						line-height: 20px;
						margin-bottom: 31px;
					}
					h4{
						font-size: 13px;
						line-height: 20px;
					}
				}
			}
		}
	}
}