html{
	overflow: hidden;
	overflow-y: auto;
}
body{
	overflow-x: hidden;
	color: #000;
	font-family: $primary-font;
}
main{
	min-height: 80vh;
}
.container{
	max-width: 1135px;
}
.no__padding{
	padding-left: 0;
	padding-right: 0;
}
section{
	width: 100%;
	float: left;
	overflow: hidden;
}
.adm-{
	&section__title{
		width: 100%;
		float: left;
		color: #fff;
		// margin-bottom: 22px;
		h4{
			font-weight: 400;
			margin-bottom: 10px;
		}
		h1,
		h2{
			margin-bottom: 31px;
		}
		&.green{
			h4{
				color: rgba(0, 0, 0, 0.5);
			}
			h2,
			h1{
				color: $green;
			}
		}
		&.grey{
			h4{
				color: rgba(255, 255, 255, 0.5)
			}
			h2,
			h1{
				color: #fff;
			}
		}
		&.dark{
			h4{
				color: rgba(0, 0, 0, 0.5);
			}
			h2,
			h1{
				color: #000;
			}
		}
	}
}
@include media-breakpoint-down(xl) {
	.container{
		padding-left: 38px;
		padding-right: 38px;
	}
}
@include media-breakpoint-down(lg) {
	.adm-section__title{
		h4{
			margin-bottom: 17px;
		}
	}
}