body{
	font-family: $primary-font;
	font-weight: 400;
}
h1{
	font-family: $secondary-font;
	font-size: 50px;
	line-height: 63px;
}
h2{
	font-family: $secondary-font;
	font-size: 50px;
	line-height: 63px;
}
h3{
	font-size: 25px;
	line-height: 33px;
}
h4{
	font-size: 16px;
	line-height: 25px;
}
h5{
	font-size: 14px;
	line-height: 18px;
}
h6{
	font-size: 13px;
	line-height: 20px;
}
p{
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	margin-bottom: 16px;
}
img{
	width: auto;
	max-width: 100%;
	height: auto;
	display: inline-block;
}
a{
	-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
}
.btn{
	display: inline-block;
	font-size: 25px;
	font-weight: 500;
	line-height: 29.5px;
	padding: 19px 50.5px;
	border: none;
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
	&__primary{
		background-color: $green;
		color: #000;
		&:hover{
			background-color: #fff;
			color: #000;
		}
	}
}
@include media-breakpoint-down(lg) {
	h1,
	h2{
		font-size: 26px;
		line-height: 33px;
	}
	h3{
		font-size: 20px;
		line-height: 25px;
	}
	h4{
		font-size: 13px;
		line-height: 21px;
	}
	p{
		font-size: 13px;
		line-height: 20px;
	}
	.btn{
		font-size: 20px;
		line-height: 23.5px;
		padding: 13px 20px;
	}
}