/*Fonts*/
$primary-font: 'Rubik', sans-serif;
$secondary-font: 'Space Grotesk', sans-serif;

/*Font-color*/
$green: #80C342;
$red: #ED1C24;
$grey: #959eaa;

/*Background color*/
$grey-background: #f8f8f8;
$footer-background: #f4f4f4;